<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% for row in rows %}
                <div class="table-text">
                    <table>
                        <thead>
                            <tr>
                                <th scope="row">Start date</th>
                                <td>{{row[1]}}</td>
                            </tr>
                            <tr>
                                <th scope="row">End date</th>
                                <td>{{row[2]}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Comment</th>
                                <td>{{row[3]}}</td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table-image">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <td>Image place</td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <hr class="intro-divider">
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
