<!-- app/templates/newupload/register.html -->
<script
  class="jsbin"
  src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"
></script>
<script
  class="jsbin"
  src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"
></script>
{% import "bootstrap/wtf.html" as wtf %} {% extends "base.html" %} {% block
title %}Register{% endblock %} {% block body %}
<div class="content-section">
  <div class="center">
    <h1>Neues Bild hochladen</h1>
    <br />
    {{ wtf.quick_form(form) }}
  </div>
</div>
{% endblock %}
